
.invoice, .payment,.quote,.due{
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;


}
.set{
  padding-left: 40px;
}
.customer-pre{
  border: 2px solid black;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  justify-content: center;

}
.backColor{
  background-color: whitesmoke;
  height: 100%;
}
.x{
  /* float: right; */
  width: 90%;
  margin-left: 5%;
  font-weight: bold;
  font-size: x-large;
}
.p{
  /* justify-content: center; */
  width: 90%;
  margin-left: 5%;
}
.ro-2-perc{
  float: right;
}
.progress-line {
  margin-top: 7px;
  height: 10px;
  width: 100%;
  background-color: #cdcdcd;
  border-radius: 50px;
  position: relative;
}


.progress-line span {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  background-color: rgb(233, 157, 14);
  transition: 1s all;
}

.progress-line span.animate {
  -webkit-animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes showText {
  100% {
      opacity: 1;
  }
}

@keyframes showText {
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes animate {
  100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
}



/* new css for semicircle */
/* @import "compass/css3";  */



.admin-table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px;
    padding: 10px;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
  }
  
  .admin-table td {
    text-align: center;
  }


  .admin-form-container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .admin-form-container h2 {
    margin-top: 0;
  }
  
  .admin-form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .admin-form-container input[type="text"],
  .admin-form-container input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button, .add-admin-button {
    background-color: rgb(131, 215, 244);
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .submit-button:hover, .add-admin-button:hover {
    background-color: rgb(111, 111, 210);
  }
  
  h1{

    display: block;
    margin-left:35%;
    content: " ";
	width:140px;
    }
  